<h1>My played decks</h1>

<% if @user.owned_decks %>
  <% @user.owned_decks.each do |deck| %>

  <p><a href="/decks/<%= deck.id %>">
    <img src="<%= deck.cards.first.image_url %>"><br>
    <%= deck.name %></a>

  </p>
  <% end %>
<% end %>
