<div class="container">
  <h1>Login</h1>
<form action="/sessions" method="POST">
<ul>
  <li>
    <input id="contact_name" type="text" name="user[email]" placeholder = "Email" />
  </li>
  <li>
    <input id="contact_email" type="password" name="user[password]" placeholder = "Password" />
  </li>
  <li>
    <input type="submit" value="Submit">
  </li>
  <li>
    <a href="/users/new">Create a new account</a>
  </li>
</ul>
</form>
</div>
